<h1>Merchant Dashboard</h1>

<p><%= link_to "Edit Profile Data", current_admin? ? edit_user_path(@merchant.id) : profile_edit_path %></p>
<p><%= link_to 'My Items for Sale', current_admin? ? merchant_items_path(@merchant) : dashboard_items_path %>

<% if @merchant && @merchant.merchant_orders.count > 0 %>
  <% if current_admin? %>
  <%= link_to "Merchant Orders", merchant_orders_path(@merchant) %>
  <% elsif current_user.merchant? %>
  <%= link_to "Merchant Orders", dashboard_orders_path %>
  <% end %>
<% end %>
